@{
    Layout = "~/_Layout.cshtml";
    var username = "";
    var password = "";
    var errorMessage = "";

    if(IsPost){
        username = Request["username"];
        password = Request["password"];
        if(WebSecurity.Login(username,password,true))
        {
            Response.Redirect("~/Default");
        }
        else
        {
            errorMessage = "Invalid username or password";
        }
    }
}

<h1>Login</h1>
<form method="post">
    @if(WebSecurity.IsAuthenticated){
        <p>You are currently logged in as @WebSecurity.CurrentUserName.
        <a href="@Href("~/Logout")">Log out</a>
        </p>
    }
    <p>
        <label for="username">Username:</label><br/>
        <input type="text" name="username" id="username" value="" />
    </p>
    <p>
        <label for="password">Password:</label><br/>
        <input type="password" name="password" id="password" value="" />
    </p>   
    <p>
        <input type="submit" value="Log in" />
    </p>   
           
    <p>No user name? <a href="@Href("~/Register")">Register</a></p>
    <p><a href="@Href("~/Default")">Return to home page</a></p>           
</form>
<p>
    @if(errorMessage != ""){
        <span class="errorMessage">@errorMessage</span>
    }
</p>